<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiu.backend.modules.docs.mapper.FolderMapper">


    <insert id="createFolder" parameterType="com.qiu.backend.modules.model.entity.Folder" useGeneratedKeys="true" keyProperty="id">
        insert into folder (
            user_id,
            name,
            parent_id,
            create_time,
            update_time
        ) VALUES (
            #{userId},
            #{name},
            #{parentId},
            #{createTime},
            #{updateTime}
        )
    </insert>

</mapper>